.weather {
  margin: 5rem 0;
  border-radius: 10px;
  padding-bottom: 30px;
  width: max-content;
  padding: 20px 20px 20px 20px;
  background-color: rgb(243, 183, 183);
}
.weather .title {
  font-size: 2.5rem;
  font-family: "Papyrus";
}
.weather form {
  margin-top: 3rem;
}
.weather form input {
  padding: 5px;
  border: 0.1rem dashed rgb(121, 73, 73);
  margin-right: 10px;
  text-align: center;
  font-family: "Papyrus";
  text-transform: capitalize;
}

.weather form input:focus {
  outline: none;
  border: 0.15rem dashed rgb(88, 2, 2);
}

.weather .getweather {
  font-family: "Papyrus";
  margin-left: 10px;
  margin-top: 2rem;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  border: 2px groove black;
  background: rgb(122, 45, 45);
  cursor: pointer;
  color: rgb(255, 255, 255);
}

.weather .getweather:hover {
  background: transparent;
  color: rgb(0, 0, 0);
}

.weather .getweather:focus {
  outline: none;
}
